* {
    font-size: 15px;
    box-sizing: border-box;
}

ul {
    background-color: #6CCFF6;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 1em;
    padding: 20px;
}

li {
    list-style: none;
    margin: 1em 0;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma;
    color: #757780;
    border: 1px solid #001011;
    padding: .5em .2em;
}

strong {
    color: #001011;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-property: font-size;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}

li:hover {
    cursor: pointer;
    font-size: 1.3em;
}